<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--/*/ <th:block th:include="fragments/htmlHead :: head"></th:block> /*/-->
    <title>Index</title>
</head>
<body>
<!--/*/ <th:block th:include="fragments/navigation :: navigation"></th:block> /*/-->

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 th:text="'Hello, ' + ${name}"></h1>
            <h2>Welcome to the home page</h2>

            <img src="../static/images/Spring-Logo.png" th:src="@{/images/Spring-Logo.png}" width="400" />
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
</html>